.select-label {
  font-weight: bold;
}

.demographics-label {
  font-weight: bold;
}

.jumbotron {
  background-color: #282c35;
  color: #ffa7c4;
}

body {
  background-color: #282c35;
}

.heading {
  color: #ffa7c4;
}

.card {
  height: 115px;
  font-weight: bold;
}
